{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<h2>About SVAYSS</h2>
<p>Our mission is to combine traditional Yoga practices with modern hostel facilities.</p>

<div class="text-center mt-4">
  <img src="{% static 'main/about/sir.jpg' %}" alt="Director" class="img-thumbnail rounded-circle shadow-sm" width="180">
  <p class="mt-2"><i><b>Mr.Manoj Pratap Singh</b></i><br>President of Yoga Federation Of Madhya Pradesh<br> <b>Guiding Light of SVAYSS</b></p>
</div>

{% endblock %}
